p {
    width: fit-content;
    text-decoration: none;
    color: #000000 !important;
    z-index: 3;
}

.Title {
    text-decoration: none;
    color: #000000 !important;
    z-index: 3;
}

.buttonstack {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    margin-left: 20px;
    width: 300px;
    padding-left: 10px;
}

#alogo {
    background-color: #ffffff51;
    color: #000000 !important;
    border-width: 0px;
    border-radius: 20px;
    z-index: 3;
}

#alogo:hover {
    background-color: #f0f0f050;
    transition: 0.3s ease;
    transform: scale(1.05);
    cursor: default;

    .tooltip {
        visibility: visible;
        transition: 0.3s ease;
        transform: translateY(10px) !important;
    }
}

.tooltip {
    width: 130px;
    top: 100%;
    left: 65%;
    margin-left: -65px; 
    visibility: hidden;
    width: 130px;
    backdrop-filter: blur(5px);
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 5 !important;
}

#alogo {
    width: 40px !important;
    height: 40px !important;
    flex: 0 0 40px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    z-index: 3;
}

.rotPlaylist {
    background-image: url('/src/images/rotplaylist.png');
}

.lastfmLogo {
    background-image: url('/src/images/lastfm.png');
}

.geniusLogo {
    background-image: url('/src/images/genius.png');
}

.gridItem {
    height: 405px !important;
    width: 405px !important;
    background-color: #1E1E1E;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #AFAFAF;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;
    overflow: hidden !important;
    transform: scale(1);
    transition: 0.3s ease;
    z-index: 2;
    position: relative;
    box-shadow: inset 0px -6px 11px 3px rgba(255, 255, 255, 0), 0px 4px 13px 0px rgba(255, 255, 255, 0);
}

.stupidstack:hover {
    transition: 0.3s ease;

    .covershadow {
        opacity: 0.5 !important;
        transition: 0.3s ease;
        filter: brightness(0.5) blur(10px) saturate(5) !important;
    }
}

.covershadow {
    height: 405px !important;
    width: 405px !important;
    background-image: var(--album-art-bg, none);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5 !important;
    filter: brightness(1) blur(10px) saturate(1.5) !important;
    z-index: 1;
    transition: 0.3s ease;
    position: absolute;
    pointer-events: none;
}

.softbg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--album-art-bg, none);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(70px) brightness(1) saturate(5) !important;
    z-index: 0;
    transition: 0.3s ease;
    position: fixed;
    pointer-events: none;
    opacity: 0.3 !important;
    transform: scale(1.5);
    animation: rotate 90s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(2);
    }

    100% {
        transform: rotate(360deg) scale(2);
    }
}

.gridItem:hover {
    transform: scale(0.98);
    transition: 0.3s ease;
    border-radius: 10px;
    filter: brightness(1.1);
    z-index: 2;

    .gridTop h1,
    .gridTop h2 {
        color: #ffffff !important;
        text-shadow: 0px 0px 10px #ffffffde;
        transition: 0.3s ease;
    }
}

.gridTop>.gridTitle {
    color: #ffffff !important;
}

.gridTitle {
    color: #000000;
}

@keyframes scale {
    0% {
        transform: translateY(+50);
    }

    100% {
        transform: translateY(+0);
    }
}

.gridTop {
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-bottom: 70px;
    position: relative;
    z-index: 2;
}

.gridBottom {
    background: linear-gradient(#14141400, #141414);
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: start;
    justify-content: start;
    padding: 10px;
    padding-top: 70px;
    overflow: hidden !important;
    position: relative;
    z-index: 2;
}

.songView {
    width: 820px;
    display: flex;
    flex-direction: row;
}

.nowCol {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    gap: 20px;
}

.previousSongs {
    background-color: #ffffff00;
    overflow: visible;
    padding: 20px 0px 0px 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    height: fit-content;
    transform: scale(1);
    transition: 0.3s ease;
    transform: scale(0.98);
    transition: 0.3s ease;
    border-width: 0px;
    border-style: inset;
    border-color: #000000;
    border-radius: 10px;
}

.previousSongs:hover {
    .songEntry {
        transition: 0.3s ease !important;
        opacity: 0.5;
        filter: blur(2px) brightness(0.9);
    }
}

.songArtist {
    color: #000000;
}

.songEntry {
    transform: translateY(0);
    transition: 0.2s ease !important;
    height: 60px !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    text-align: left;
    padding: 0;

    .nowCol {
        transition: 0.3s ease !important;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}


.songEntry:hover {
    transform: translateX(20px) scale(1.1) !important;
    transition: 0.3s ease !important;
    cursor: pointer;
    opacity: 1 !important;
    filter: blur(0px) brightness(1.2) !important;
    color: #000000;
}

.songCover {
    width: 60px !important;
    height: 60px !important;
    flex: 0 0 60px;
    object-fit: cover;
    background-color: #111;
    border-radius: 5px;
}

.songText {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
}

.songEntry h1 {
    font-weight: 800;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.songEntry h2 {
    font-weight: 500;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.gridItem h1 {
    font-weight: 500;
    font-size: 20px;
}

.gridItem h2 {
    font-weight: 800;
    font-size: 20px;
}

#nowplaying .gridTop {
    background: linear-gradient(#14141468, #14141400) !important;
    height: fit-content;
}

#marquee {
    overflow: hidden !important;
    align-items: flex-end;
}

.marqueeContent {
    overflow: hidden !important;
    gap: 5px;
    width: max-content;
    display: flex;
    flex-direction: row;
    animation: marquee 10s linear infinite;
}

.nowLyrics {
    height: fit-content;
    overflow: auto;
    font-family: 'InterVariable', sans-serif !important;
    color: #000000;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    white-space: pre-wrap;
}

.lyricsTitle {
    font-family: 'InterVariable', sans-serif !important;
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
}

.lyricsContainer {
    width: 405px;
    background-color: #ffffff00;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 0;
    position: relative;
    border-width: 0px;
    border-style: inset;
    border-color: #000000;
    border-radius: 10px;
}

@keyframes marquee {
    0% {
        transform: translate(100%, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

#songname {
    font-family: 'InterVariable', sans-serif !important;
    font-size: 30px;
    width: max-content;
    text-transform: uppercase !important;
}

#artist {
    font-family: 'InterVariable', sans-serif !important;
    font-size: 30px;
    width: max-content;
    text-transform: uppercase !important;
}

#in {
    font-family: 'InterVariable', sans-serif !important;
    font-size: 30px;
    width: max-content;
    text-transform: lowercase !important;
}

#by {
    font-family: 'InterVariable', sans-serif !important;
    font-size: 30px;
    width: max-content;
    text-transform: lowercase !important;
}

#album {
    font-family: 'InterVariable', sans-serif !important;
    font-size: 30px;
    width: max-content;
    text-transform: uppercase !important;
}

h1 {
    font-weight: 500;
    font-size: 20px;
}

h2 {
    font-weight: 800;
    font-size: 20px;
}

footer {
    position: relative;
    margin-left: 20px;
    padding: 10px !important;
    z-index: 2;
}

.footer1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: left;
}

#about {
    background-color: transparent;
    background-image: url('../images/pfp.png') !important;
    background-size: cover;
}

#support {
    background-color: transparent;
    background-image: url('../images/support.png') !important;
    background-size: cover;
}

#designs {
    background-color: transparent;
    background-image: url('../images/design.png') !important;
    background-size: cover;
}

#resume {
    background-color: transparent;
    background-image: url('../images/resume.png') !important;
    background-size: cover;
}

/* from claude */
@keyframes fadeIn {
    from {
        transform: translateY(-10px);
        filter: blur(20px) brightness(5);
        opacity: 0.5;
    }

    to {
        transform: translateY(0px);
        filter: blur(0px) brightness(1);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        transform: translateY(0px);
        filter: blur(0px) brightness(1);
        opacity: 1;
    }

    to {
        transform: translateY(10px);
        filter: blur(10px) brightness(5);
        opacity: 0;
    }
}