.gridItem {
    background-color: #1E1E1E;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #AFAFAF;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;
    box-sizing: content-box;
}

.gridItem#nowplaying {
    width: 197.5px !important;
}

.gridTop {
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-bottom: 70px;
}

.gridBottom {
    background: linear-gradient(#14141400, #141414);
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: start;
    justify-content: start;
    padding: 10px;
    padding-top: 70px;
    overflow: hidden !important;
}

.gridItem h1 {
    font-weight: 500;
    font-size: 20px;
}

.gridItem h2 {
    font-weight: 800;
    font-size: 20px;
}

#nowplaying .gridTop {
    background: linear-gradient(#141414 25%, #14141400) !important;
    height: fit-content;
}

#marquee {
    width: 196.5px;
    overflow: hidden !important;
    align-items: flex-end;
}

.marqueeContent {
    display: flex;
    flex-direction: row;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0%   { transform: translate(100%, 0); }
  100% { transform: translate(-100%, 0); }
}

#songname {
    width: max-content;
    text-transform: uppercase !important;
}

#artist {
    width: max-content;
    text-transform: uppercase !important;
}

#in {
    width: max-content;
    text-transform: lowercase !important;
}

#by {
    width: max-content;
    text-transform: lowercase !important;
}
#album {
    width: max-content;
    text-transform: uppercase !important;
}

#about {
    background-image: url('../images/pfp.png') !important;
    background-size: cover;
}

#support {
    background-color: transparent;
    background-image: url('../images/support.png') !important;
    background-size: cover;
}

#designs {
    background-image: url('../images/design.png') !important;
    background-size: cover;
}

#resume {
    background-image: url('../images/resume.png') !important;
    background-size: cover;
}